<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ country }}</title>
</head>
<body>
<h1>Users at Location {{ country }}</h1>

{% if users %} 
  <p>Number of users found: {{ users|length }}</p>
  <ul>
    {% for user in users %}
      <li>{{ loop.index }}   Id: {{ user.UserID}}&nbsp;&nbsp;&nbsp;Name: {{ user.Username }}&nbsp;&nbsp;&nbsp;Location: {{ user.Country }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No users found at this location.</p>
{% endif %}



</body>
</html>
